<!--
    #authors:   Kaleb Eberhart
    #date:      02/11/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Minesweeper Online 1.5
    #file:      _UserLayout.cshtml
    #revision:  1.0
    #synapsis:  This layout is for users that are currently logged in.
-->
<!DOCTYPE html>
<html>
@RenderPage("~/Views/Shared/_HeaderFiles.cshtml")
<body>
    @RenderPage("~/Views/Shared/_UserNavBar.cshtml")
    @RenderBody()
</body>
</html>
