<!--
    #authors:   Kaleb Eberhart
    #date:      01/26/2018
    #course:    CST-247
    #professor: Mark Reha
    #project:   Minesweeper Online 1.3
    #file:      _NavBar.cshtml
    #revision:  1.0
    #synapsis:  This is partial view used to render the navbar. This is for guests
-->
<div>
    <nav class="navbar navbar-default navigation-clean-button" style="background-color:rgb(126,125,125);">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="../Login" style="color:#ffffff;">Minesweeper </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"></ul>
                <p class="navbar-text navbar-right actions"><a class="navbar-link login" href="../Login" style="color:#ffffff;">Log In</a> <a class="btn btn-default action-button" role="button" href="../Register" style="background-color:#222222;">Sign Up</a></p>
            </div>
        </div>
    </nav>
</div>